#signup_menu {
	z-index:100;
	width: 390px;
	margin: 100px auto 0 auto;
	padding: 15px 25px;
	background: #ffffff;
	border: 1px solid #EBEBEB;
	box-shadow: 0 1px 1px #FFFFFF inset;
	-moz-box-shadow: 0 1px 0 #FFFFFF inset;
	-webkit-box-shadow: 0 1px 0 #FFFFFF inset;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#signup_menu p.remember { text-transform: capitalize; }

#signup_menu p.remember a { line-height: 50px; }

.forgot {
	margin: 15px 0 0 0;
	float: left;
}

#signin_menu h4 {
	font-size: 20px;
	margin: 0 0 10px;
	padding: 10px 0;
	text-align: center;
}

#signup_menu label { width: 90px; }

#signup_menu input[type="text"], #signin_menu input[type="password"] { width: 266px; }

#signup_menu select { width: 277px; }

#signup_menu {
	margin:0 5px 0 0;
	float: right;
	font-weight:bold;
}


#content {
	margin: 0 auto;
	clear: both;
}