<!DOCTYPE html>
<html lang="en">
<head>


<title>WelCome | tag your pictures</title>


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<!-- JavaScript -->
<script src="script/profile.js"></script>
<script src="script/index.js"></script>
<link rel="stylesheet" href="css/profile.css" type="text/css"
	media="screen">

<link rel="stylesheet" href="css/home.css" type="text/css"
	media="screen">



<script type="text/javascript">
	$(document).ready(function() {
		loding();
		function loding() {

		}
	contentmenulisting();

	});
</script>
</head>
<body>

	<nav class=" navbar navbar-fixed-top transparent navbar-default"
		role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<!-- <a href="allimages.spring?pageNo=1"><img src="images/logo.png" alt="pcc"></a> -->
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="allimages.spring?pageNo=1"><img src="images/logo.png"
					alt="pcc"></a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<div id="menutopTable" class="clear nav navbar-nav"></div>

			</div>
		</div>
	</nav>
	<hr>


	<!-- adds tab -->
	<div class="row">
		<br> <br>
		
			<div id="menuTable" class="btn-group-vertical"
				class="clear btn-group btn-group-lg"></div>
		

		<!-- photos tab -->
	
			
			<br>
			<div class="main page-id-home-home__main section-id-home__main ">
			
<section id="hero-carousel" class="carousel slide no-arrow-overlap text-down" data-ride="carousel">
	<div class="carousel-inner">
		<div class="item active slide-merchant">
			<div class="item-bg"></div>
			<section class="container">
				<div class="row">
					<div class="col-sm-6 col-md-5 col-xs-12">
						<h1>A better buying experience</h1>
						<h5> Grow your sales with Login and Pay with Amazon</h5>
						<p>Help increase conversion. Capture mobile sales. Gain more repeat customers. Login and Pay with Amazon makes it easy for hundreds of millions of Amazon customers to buy on your site.</p>
					</div>
				</div>
			</section>
		</div>
		<div class="item slide-consumer">
			<div class="item-bg"></div>
			<section class="container">
				<div class="row">
					<div class="col-sm-6 col-md-5 col-xs-12">
						<h1>A better way to buy</h1>
						<h5>Your convenient, fast and secure way to pay.</h5>
						<p>Buy what you want, and get on with your life. When you login and pay with Amazon, say goodbye to long checkout processes and missed mobile taps. <a href="/customer" onclick="s.linkTrackVars='prop35';s_objectID=s.prop35='page: us: home: hero: a better way to buy>learn more';s.tl(this,'o','page us home hero a better way to buy learn more',null,'navigate');return false;">Learn More</a> </p>
					</div>
				</div>
			</section>
		</div>
		<div class="item slide-developer">
			<div class="item-bg"></div>
			<section class="container">
				<div class="row">
					<div class="color-white col-sm-6 col-md-5 col-xs-12">
						<h1>Setup in a snap</h1>
						<h5>The setup guides, documentation and resources you need &ndash; all in one place.</h5>
						<p>Get started with Login and Pay today. <a href="/developer" onclick="s.linkTrackVars='prop35';s_objectID=s.prop35='page: us: home: hero: setup is a snap>learn more';s.tl(this,'o','page us home hero setup is a snap learn more',null,'navigate');return false;">Learn More</a> </p>
					</div>
				</div>
			</section>
		</div>
	</div>
	<a class="left carousel-control" data-target="#hero-carousel" data-slide="prev" onclick="s.linkTrackVars='prop35';s_objectID=s.prop35='page: us: home: hero: make amazon customers your customers>left arrow';s.tl(this,'o','page us home hero make amazon customers your customers left arrow',null,'navigate');return false;">
		<p class="left-arrow-icon"></p>
	</a>
	<a class="right carousel-control" data-target="#hero-carousel" data-slide="next" onclick="s.linkTrackVars='prop35';s_objectID=s.prop35='page: us: home: hero: make amazon customers your customers>right arrow';s.tl(this,'o','page us home hero make amazon customers your customers right arrow',null,'navigate');return false;">
		<p class="right-arrow-icon"></p>
	</a>
	<ol class="carousel-indicators">
		<li data-target="#hero-carousel" data-slide-to="0" class="active"></li>
		<li data-target="#hero-carousel" data-slide-to="1"></li>
		<li data-target="#hero-carousel" data-slide-to="2"></li>
	</ol>
</section>


		
		</div>
		</div>
	
		

		
</body>
</html>
